body, html{
    font-family: 'Lato', sans-serif;
}

body{
    padding: 0 60px;
    min-width: 800px;
}

header h1{
    display: inline-block;
    font-size: 4em;
    margin: 0;
    margin-top: 30px;
}

header img{
    margin-left: 30px;
    margin-bottom: -10px;
}

header select {
    float: right;
    background-color: transparent;
    color: black;
    border: none;
    width: 240px;
    font-size: 2em;
    /* text-decoration: underline; */
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.helper button {
    background-color: transparent;
    color: black;
    border: none;
    width: 150px;
    font-size: 2em;
    /* text-decoration: underline; */
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
}

.helper form{
    display: inline-block;
}

.helper {
    margin-right: 30px;
    float: right;
}

.filters{
    margin-right: 150px;
    display: inline-block;
}

.search-box{
    background-color: transparent;
    color: black;
    border: none;
    width: 300px;
    font-size: 2em;
    /*text-decoration: underline;*/
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px;
    border-bottom: solid #000;
  }

.envio{
    background-color: transparent;
    border: none;
    width: 40px!important;
    margin-right: 0!important;

}

.row{
    width: 100%;
    display: inline-block;
}

.row * {
    display: inline-block;
}

textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

.dish img {
    height: 200px;
    border-radius: 3%;

}

.dish {
    width: 33%;
    text-align: center;
}

.containers{
    margin-top: 170px;
}

.detail * {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5px;
}

.detail h3{
    float: left;
    margin-right: 30px;
}

.detail .km {
    margin-right: 10px;

}

.more{
    text-align: center;
    background-color: transparent;
    font-size: 3em;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    border: none;
}

.row-more{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}


/*  DETAIL  */

.back{
    color: black;
    text-decoration: none;
}

.prod{
    text-align: center;
    margin-top: 30px;
    width: 550px;
    margin: 0 auto;
}

.bigOne{
    height: 400px;
    width: inherit;
}

.back{
    font-size: 2em;
}

.product{
    margin-top: 10px;
}

.description{
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px 40px;
}

.dishname{
    display: inline-block;
    font-size: 2em;
    margin-top: 10px;
}

.price{
    display: inline-block;
    float: right;
    font-size: 1.5em;
    margin-top: 15px;
}

.secondrow a{
    text-decoration: none;
    color: white;
}

.place{
    display: inline-block;
}

.likes{
    display: inline-block;
    float: right;
    margin-top: 15px;
}

.liker{
    float: right;
}


/**** NEW ******/
.newprod{
    text-align: center;
    margin-top: 30px;
    width: 550px;
    margin: 0 auto;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 530px;
    cursor: pointer;
}

.newproduct{
    margin-top: 10px;
}

.description > input {
    background-color: transparent;
    color: white;
    border: none;
}

.segundo > input {
    background-color: transparent;
    color: white;
    border: none;
}

.nameinput {
    display: inline-block;
    font-size: 2em;
    margin-top: 10px;
}

.priceinput{
    display: inline-block;
    float: right;
    font-size: 1.5em;
    margin-top: 15px;
    width: 100px;
}

.segundo{
    margin-top: 20px;
}

.saver{
    float: right;
    background-color: red!important;
    color: white!important;
    font-size: 1.5em;
    padding: 4px 20px;
    margin-top: -20px;
    margin-right: 10px;
}

.placeinput{
    font-size: 1em;
    width: 340px;
}

.cityinput{
    font-size: 1em;
}

 .cityinput {
    background-color: transparent;
    color: white;
    border: none;
    /* text-decoration: underline; */
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    -webkit-border-radius: 0px;
}

.remover{

    border: none;
    background-color: transparent;
    margin-left: 520px;
    margin-top: -25px;
    overflow: overlay;
    z-index: 100;
    display: none;
    position: absolute;
}

.closeimg{
    height: 30px;
}
